@font-face {
    font-family: 'Invaders';
    src: url('Invaders.woff2') format('woff2'),
        url('Invaders.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

